body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* common css */
#transacrion_area ,
#login_area{
padding-top: 100px;


}
.submit_area{
    width: 75%;
    margin: 50px auto;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px #686767;
}


/* transacrion_area */

#transacrion_area{
    display: none;

}

.stutas{
    padding: 5px 5px ;
    margin: 0 5px;
    border-radius: 10px;
    text-align: center;
    line-height: 0;
}
.deposit{
background-color: blanchedalmond;
}
.withdrow{
background-color: lightsalmon;
}
.Blance{
background-color: orange;
}

.deposit_item{
    margin: 50px auto;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px #686767;
}
.deposit_item h4{
    font-size: 18px;
}
.deposit_item input{
    margin: 10px 0px;
}
.deposit_item button{
   font-size: 14px;
}




/* cart_item */
.cart_items_area{
    margin: 0 auto;
    background-color: #F7F5FB;
    border-radius: 5px;
    padding: 5px 5px;


}
.cart_item {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
    width: 90%;
    margin: 10px auto;
    padding: 10px 10px;
    border-radius: 10px;
}


.cart_item img{
    width: 150px;
    height: 150px;
    padding: 10px 10px;

}
.cart_item  h2{
    font-size: 18px;
    font-weight: 700;
    padding: 10px 10px;
    
}
.cart_item .numbarItem {
    background-color: #F7F5FB;
    padding: 5px 5px;
    border-radius: 5px;
    width: 75px;
    border: none;
}
.cart_item button {
    background-color: #F7F5FB;
    border-radius: 5px;
    border: none;
}

.cart_item i{
    cursor: pointer;
    padding: 10px 10px;

    
}
.cart_item i:hover{
color: tomato;

    
}

.cart_item .cart_table{
    margin: 0px auto;

    
}
.amountTitale{
    font-size: 16px;
    font-weight: 700;
}
.amountItem{
    text-align: right;
}

/* checkout_btn */
